lombok.log.fieldIsStatic = true
lombok.log.fieldName = logger
lombok.log.javaUtilLogging.flagUsage = warning
lombok.log.apacheCommons.flagUsage = warning
lombok.log.jbosslog.flagUsage = warning
lombok.log.log4j.flagUsage = warning
lombok.log.log4j2.flagUsage = warning

lombok.singular.useGuava = true
